*{
    box-sizing: border-box;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 28px;
    line-height: 1.5;
}
body{
    min-height: 100%;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.left-side, .right-side{
    height: 100%;
    justify-items: center;
    width: 30%;
}
.left-side section, .right-side section{
    width: 100%;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.contact-info{
    display: flex;
    align-items: center;
}
.contact-info img{
    width: 30px;
    margin-right: 5px;
}

